.post-container{
    margin: 20px 20px 0 0;  
}

.post-thumb img {
    float: left;
    clear:left;
    margin-right:8px;
}
.post-title{
    float:left;
}
.post-content {float:right;margin-right:8px;}
.clear{clear:both;}